*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
 background-color:rgb(180 179 144 / 29%);
}

button{
  padding: 15px 20px;
  background-color: #c7ad1b;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  margin-top: 12px;
}